<!DOCTYPE html>
<html lang="en">

<head>
    <title>User Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../../static/css/account_profile.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
        integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header class="header">
        <div class="menu-container">
            <a href="{% url 'home' %}" class="logo">LOGO</a>
            <input type="checkbox" id="menu" />
            <label for="menu">
                <img src="../../static/images/menu.png" class="menu-icono" alt="menu">
            </label>
            <nav class="navbar">
                <ul>
                    <li><a href="{% url 'upload_video' %}" class="btn btn-primary">Convert</a></li>
                    <li><a href="#">API</a></li>
                    <li><a href="#">About</a></li>
                    <li class="user-section" onclick="toggleUserOptions()">
                        <img src="../../static/images/menu.png" alt="User Avatar" class="user-avatar">
                        <div class="user-options" id="userOptions">
                            <ul>
                                <li>
                                    <p>Welcome {{ username }}!!</p>
                                </li>
                                <li><a href="{% url 'logout' %}">Logout</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </nav>

        </div>
        <div class="main">
            <h2>Videos Uploaded</h2>
            {% if user_videos %}
            <ul>
                {% for video in user_videos %}
                <li>
                    <strong>{{ video.video_file.name }}</strong>
                    <video width="320" height="240" controls>
                        <source src="{{ video.video_file.url }}">
                        Your browser does not support the video tag.
                    </video>
                    <script>
                        function toggleFilterButtons(videoId) {
                            const filterButtons = document.getElementById(`filterButtons${videoId}`);
                            filterButtons.style.display = filterButtons.style.display === 'none' ? 'block' : 'none';
                        }
                    </script>
                    <button onclick="toggleFilterButtons('{{ video.id }}')">Apply Filter</button>
                    <div id="filterButtons{{ video.id }}" style="display: none;">
                        <form method="post" action="{% url 'apply_filter' video.id 'color_filter'%}">
                            {% csrf_token %}
                            <button type="submit">Color Filter</button>
                        </form>
                        <form method="post" action="{% url 'apply_filter' video.id 'slow_motion' %}">
                            {% csrf_token %}
                            <button type="submit">Slow Motion Filter</button>
                        </form>
                        <form method="post" action="{% url 'apply_filter' video.id 'grayscale_filter' %}">
                            {% csrf_token %}
                            <button type="submit">Grayscale Filter</button>
                        </form>
                        <form method="post" action="{% url 'apply_filter' video.id 'vignette_filter' %}">
                            {% csrf_token %}
                            <button type="submit">Vignette Filter</button>
                        </form>
                        <form method="post" action="{% url 'apply_filter' video.id 'blur_filter' %}">
                            {% csrf_token %}
                            <button type="submit">Blur Filter</button>
                        </form>
                        <form method="post" action="{% url 'apply_filter' video.id 'sharpen_filter' %}">
                            {% csrf_token %}
                            <button type="submit">Sharpen Filter</button>
                        </form>
                        <form method="post" action="{% url 'apply_filter' video.id 'contrast_enhancer_filter' %}">
                            {% csrf_token %}
                            <button type="submit">Contrast Enhancer Filter</button>
                        </form>
                        <form method="post" action="{% url 'apply_filter' video.id 'brightness_enhancer_filter' %}">
                            {% csrf_token %}
                            <button type="submit">Brightness Enhancer Filter</button>
                        </form>
                        <form method="post" action="{% url 'apply_filter' video.id 'face_detection_filter' %}">
                            {% csrf_token %}
                            <button type="submit">Face Detection Filter</button>
                        </form>
                    </div>
                </li>
                <a href="{% url 'download_video' video.id %}">Download Video</a>
                {% endfor %}
            </ul>
            {% else %}
            <p>No videos uploaded yet.</p>
            {% endif %}
        </div>
    </header>

    <footer class="footer container">
        <div class="link">
            <a href="#" class="logo">LOGO</a>
        </div>
        <div class="link">
            <ul>
                <li><a href="#">© 2023 Chromacraft Made in Krakow, Poland</a></li>
            </ul>
        </div>
    </footer>
    <script src="../../static/scripts/script.js"></script>
</body>

</html>

