{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Chromecraft</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
  </head>
  <body>
    <header>
      <div class="logo">
        <!-- Add your logo here -->
      </div>
      <nav>
        <ul>
          <li>
            <a href="#">Convert Files</a>
          </li>
          <li>
            <a href="#">Optimize Files</a>
          </li>
          <li>
            <a href="#">SignUp/Login</a>
          </li>
          <li>
            <a href="#">API</a>
          </li>
          <li>
            <a href="#">About</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <section>
        <h1>Chromacraft</h1>
        <p>Chromacraft is an online video enhancer. To get started, use the button below and select files to convert from your computer.</p>
      </section>
      <section>
        <h1>Data Security</h1>
        <p>Chromacraft has been trusted by our users and customers since its founding in 2023. No one except you will ever have access to your files. We earn money by selling access to our API, not by selling your data. Read more about that in our Privacy Policy.</p>
      </section>
    </main>
    <footer>
      <p>© 2023 Chromacraft Made in Krakow, Poland</p>
    </footer>
  </body>
</html>
