<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Video Display</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../../static/css/view_video.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
        integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header class="header">
        <div class="menu-container">
            <a href="{% url 'home' %}" class="logo">LOGO</a>
            <input type="checkbox" id="menu" />
            <label for="menu">
                <img src="../../static/images/menu.png" class="menu-icono" alt="menu">
            </label>
            <nav class="navbar">
                <ul>
                    <li><a href="{% url 'upload_video' %}" class="btn btn-primary">Convert</a></li>
                    <li><a href="#">API</a></li>
                    <li><a href="#">About</a></li>
                    <li class="user-section" onclick="toggleUserOptions()">
                        <img src="../../static/images/menu.png" alt="User Avatar" class="user-avatar">
                        <div class="user-options" id="userOptions">
                            <ul>
                                <li>
                                    <p>Welcome {{ username }}!!</p>
                                </li>
                                <li><a href="{% url 'logout' %}">Logout</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="main">
            <h2>Processed Video</h2>
            {% if video %}
            <video width="800" controls>
                <source src="{{ video.video_file.url }}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            {% else %}
            <p>Video not found.</p>
            {% endif %}
        </div>
    </header>
    <footer class="footer container">
        <div class="link">
            <a href="#" class="logo">LOGO</a>
        </div>
        <div class="link">
            <ul>
                <li><a href="#">© 2023 Chromacraft Made in Krakow, Poland</a></li>
            </ul>
        </div>
    </footer>
</body>
<script src="../../static/scripts/script.js"></script>
</html>
